.mainAnimationBox{
    animation-name: mainAnimationBox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes mainAnimationBox {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}

.glassThree{
    animation-name: glassThree;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes glassThree {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}

.glassTwo{
    animation-name: glassTwo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes glassTwo {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}


